---
layout: default
---

<div class="home-page">
  <div class="hero">
    {% include custom/hero.html %}
  </div>

  <div class="home-field">
    <div class="home-landing her-row">
      <div class="container">
        <div class="row">
          {% include custom/home_landing_row.html %}
        </div>
      </div>
    </div>

	<div class="pub-list">
		<h2>Bio</h2>
		<ul>
			<li>I grew up rambling around the hills of western North Carolina near the city of Asheville, the son of &quot;back-to-the-lander&quot; parents.  I went to school at <a href="http://www.guilford.edu">Guilford College</a> in Greensboro NC and graduated in May 2006 with a degree in Biology and Environmental Studies.  I have always loved outdoorsy stuff and was really involved with the Outdoor Club at my school. We organized hiking, paddling, skiing and other random crazy trips.</li>
			<li>After college I left the red clay of North Carolina for the red dust of tropical Australia.  I was an intern for <a href="http://www.fieldstudies.org"> The School for Field Studies </a>, a conservation research focused study abroad program outside of the city of Cairns in Queensland.</li> 
			<li>In 2008 I moved back to North Carolina and took a job with the <a href="http://www.sandhillslandtrust.org">Sandhills Area Land Trust</a> based out of Southern Pines.  I spent six months monitoring conservation easements, writing baseline documentation reports, and talking to landowners about conservation.  I love the Sandhills, the rich history, the smell of pine smoke, even the sweltering summers, but the academic itch was getting the best of me. In August 2008 I entered a graduate program in <a href="http://cee.unc.edu"> Ecology at UNC Chapel Hill</a>.</li>
			<li>My masters work built on the relationships that I formed while working for SALT. In collaboration with the <a href="http://www.ncscp.org">North Carolina Sandhills Conservation Partnership</a>, my lab group and I developed GIS tools to help land managers incorporate landscape connectivity considerations into environmental planning. In August 2011, I moved to Atlanta, GA to live with my long-time partner and work as a high-school teacher at <a href=https://www.howardschool.org/> The Howard School </a>.</li>
			<li>In the summer of 2012, my wife Lizza and I moved to Seattle, WA, where I am a PhD student in the Biology department at the University of Washington working with <a href=https://faculty.washington.edu/jhrl/Index.html>Janneke Hille Ris Lambers</a>. My current research is about the evolutionary ecology of plant ranges, phenologies, and responses to climate.</li>
						<li>In the fall of 2016 I moved to Cambridge, Massachusetts, where I will be finishing up my PhD work as a visiting student at Harvard and Boston University, where I'm working with the <a href=https://www.bu.edu/lcsc/ > Land Cover and Surface Climate Group</a>. </li>
		</ul>
		<img src="images/bio_kitty_and_ian.jpg" alt="Kitty and Ian" height="234" />
		<img src="images/bio_bats.jpg" height="234" />
		<img src="images/bio_lizza.jpg" height="234" />
		<img src="images/bio_portrait.jpg" height="234" />
	</div>
    <hr class="divider-short"/>

    <div class="archive-link">
      <h3><a href="/posts/">All Posts</a></h3>
    </div>
  </div>
</div>

