---
layout: default
---

<div class="home-page">
  <div class="hero">
    {% include custom/hero.html %}
  </div>

  <div class="home-field">
    <div class="home-landing her-row">
      <div class="container">
        <div class="row">
          {% include custom/home_landing_row.html %}
        </div>
      </div>
    </div>

    <div class="pub-list">
		<h2>Publications</h2>
		<ul>
			<li>Krosby, M., I. Breckheimer, D. John Pierce, B.L. Cosentino, J. Schuett-Hames, P.H. Singleton, S.A. Hall, K.C. Halupka, W.L. Gaines, R.A. Long B. H.. McRae. In review. Focal species and landscape "naturalness" corridor models offer complementary approaches for connectivity conservation planning. In review. Landscape Ecology</li>
			<li>HilleRisLambers, J. L.D.L. Anderegg, I. Breckheimer, K.M. Burns, A.K. Ettinger, J.F. Franklin, J.A. Freund, K.R. Ford, S.J. Kroiss. In revision. Implications of Climate change for Turnover in Forest Composition. Northwest Science.</li>
			<li>Breckheimer, I., N. Haddad, W. Morris, A. Trainor, W. Fields, R.T. Jobe, B. Hudgens, A. Moody, J. Walters. 2014. Defining and evaluating the umbrella species concept for conserving and restoring landscape connectivity. Conservation Biology 28 no. 6, 1584-1593. </li>
			<li>Miller, BW I Breckheimer, A.L. McCleary, L. Guzmán-Ramirez, S.C. Caplow, J.C. Jones-Smith, and S.J. Walsh. 2010. Using stylized agent-based models for population–environment research: a case study from the Galápagos Islands. Population and Environment 31, no. 6, pp 401-426. </li>
		</ul>
    </div>

    <hr class="divider-short"/>

    <div class="archive-link">
      <h3><a href="/posts/">All Posts</a></h3>
    </div>
  </div>
</div>
